<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('resaltado.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('seleccionado.css') }}" />
    </head>
    <body>
        <img src="{{asset('logo.png') }}">
        {% block body %}{% endblock %}

        {% block javascripts %}{% endblock %}
        <p style="border-top: 2px solid black;">Horas de libre configuracion</p>
    </body>
</html>
