{% extends 'base.html.twig' %}

{% block body %}
    <table border="1px">
        <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
        </tr>
        </thead>
        <tbody>
        {% for elemento in 'usr' %}
                <td>{{ usr }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block stylesheets %}
   
{% endblock %}