*{
    background-color: lightblue;
}
body{
    background-image: url("../multimedia/cuaderno.png");
  background-repeat: repeat-y;
}
.partederecha{
    margin-left: 20%;
}
p::first-letter{
    font-size: 2em;
    color: purple;
}

.parrafodelmedio p{
     padding: 2%;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    background-image: url("../multimedia/fondo.jpg");
    color: white;
}
.barra{
    margin-left: 20%;
    width: 80%;
    height: 20em;
    overflow: scroll;
}
